@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~admin-lte/dist/css/adminlte.min.css';
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#current-time {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
}

.btn {
    min-width: 100px;
}

.table th, .table td {
    vertical-align: middle;
}

.badge {
    cursor: pointer;
}
